html {
	scroll-behavior: smooth;
}

body {
	margin: 0;
	font-family: "Manrope", sans-serif;
	/* 	font-family: "YouTube Sans", "Roboto", sans-serif; */
	font-size: 2rem;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

ol,
ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

p,
span,
h2 {
	margin: 0;
	padding: 0;
}
