html {
	scroll-behavior: smooth;
}

::-webkit-scrollbar {
	display: none; /* Chrome Safari */
}

@font-face {
	font-family: 'Poppins';
	src: url('Poppins-SemiBold.woff2') format('woff2'),
        url('Poppins-SemiBold.woff') format('woff');
	font-weight: 600;
	font-style: normal;
	font-display: swap;
}

body {
	margin: 0;
	font-family: Poppins-SemiBold, Poppins;
	/* 	font-family: "YouTube Sans", "Roboto", sans-serif; */
	font-size: 2rem;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	scrollbar-width: none; /* firefox */
   -ms-overflow-style: none; /* IE 10+ */
    overflow-x: hidden;
    overflow-y: auto;
}

ol,
ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

p,
span,
h2 {
	margin: 0;
	padding: 0;
}
a{text-decoration:none}
