.bg-base {
	background-image: url(../images/background-mobile.bf3e5f2d.png);
	background-size: 100% 120%;
	background-position-y: 0px;
	background-attachment: fixed;
	display: none;
}


.logo-index {
	background-image: url(../images/background.d1fbc95e.png);
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	min-width: 1000px;
	background-repeat: no-repeat;
	background-size: cover;
	-webkit-background-size: cover;
	-o-background-size: cover;
	background-position: center 0;
}

.down {
	animation: rightText 2s ease-out 0s both;
}

.left {
	animation: leftText 2s ease-out 0s both;
}

@keyframes leftText {
	0% {
		transform: translateX(-200px);
		opacity: 0;
	}

	100% {
		transform: translateX(0px);
		opacity: 1;
	}

}

@keyframes rightText {
	0% {
		transform: translateX(200px);
		opacity: 0;
	}

	100% {
		transform: translateX(0px);
		opacity: 1;
	}
}

.logo-index-text {
	text-align: center;
	display: flex;
	font-size: 6rem;
	color: #fff;
	justify-content: center;
	height: 100%;
	align-items: center;
}

.header-bg {
	padding: 1.75rem 0;
	z-index: 50;
}

.header-bg-color {
	background-color: rgba(36, 8, 68, .5019607843137255);
}

.head-position {
	position: fixed;
	left: 0;
	top: 0px;
	width: 100%;
	z-index: 999;
}


.header {
	width: 100%;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
}


.nav ul{
	display: flex;
	justify-content: flex-start;
	align-items: center;
	padding: 0 0 0 50px;
}

.nav ul li{
	padding: 0 0 0 30px;
}

.nav ul li a{
	color: #fff;
	text-decoration: none;
}

.header .logo {
	font-size: 1.175rem;
	color: #fff;
	padding: 0 0 0 3%;
	display: flex;
	justify-content: flex-start;
	align-items: center;
}


.other-logo ul li {
	display: inline-block;
	width: 30px;
	margin-right: 20px;
}

.other-logo ul li.twitter {
	width: 26px;
}

.other-logo ul li img {
	display: inline-block;
	width: 100%;
	header: 100%;
}

.describe {
	width: 100%;
	color: #fff;
	margin: 0 auto;
}

.describe-item {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.describe-img img {
	width: 600px;
}

.describe-text {
	flex: 1;
}

.describe h2 {
	font-size: 4.5rem;
	padding: 1rem 0;
	margin: 0;
	text-align: center;
}


.describe p {
	font-size: 3.5rem;
	padding: 0;
	margin: 0;
	text-align: center;
}


.bg-purple {
	background-color: rgb(48, 12, 90);
	color: #fff;
}

.purple-item {
	width: 100%;
	margin: 0 auto;
	padding: 2.5rem 0 5rem 0;
}

.purple-text {
	text-align: center;
	font-size: 3.75rem;
	padding: 5rem 0 0 0;
	font-weight: 700;
}

.purple-text-span {
	background-image: linear-gradient(to right, rgb(74, 158, 217), rgb(139, 92, 246));
	-webkit-background-clip: text;
	color: transparent;
}

.purple-list-item {
	width: 100%;
	margin: 0 auto;
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	justify-content: center;
}

.purple-list {
	text-align: center;
	width: 100%;
}

.items-img {
	height: 475px;
	border-radius: 8px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.items-img img {
	width: 260px;
}

.items-name {
	display: flex;
	justify-content: center;
	align-items: center;
}


.items-name img {
	border-radius: 8px;
}

.items-text p {
	font-size: 2.25rem;
	padding: 3rem 0 0.5rem 0;
}

.items-text span {
	font-size: 1.5rem;
	padding: 0rem 0 3.5rem 0;
	display: block;
}

.purple-team {
	padding-bottom: 10rem;
}

.footer {
	width: 100%;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
	color: #fff;
}

.footer-logo {
	padding-bottom: 1rem;
}

.footer-left {
	width: 25%;
	font-size: 2.25rem;
	line-height: 2.5rem;
	margin: 5rem 0 5rem 2rem;
}

.footer-right {
	width: 75%;
	font-size: 2.75rem;
	line-height: 2.75rem;
	margin: 5rem 0;
}

.footer-right p {
	padding: 0 0 1rem 0;
}

.footer-email {
	font-size: 2.75rem;
}



@media screen and (min-width:1300px) {
	.header {
		width: 1440px;
	}

	.header .logo {
		padding: 0;
	}

	.describe {
		width: 1440px;
	}

	.describe-item {
		padding: 200px 0 0 0;
	}

	.describe h2 {
		text-align: left;
	}

	.describe p {
		text-align: left;
	}

	.purple-item {
		width: 1440px;
	}

	.purple-list-item {
		width: 1440px;
		display: flex;
		justify-content: space-between;
		align-items: center;
		flex-wrap: nowrap;
	}

	.items-img {
		text-align: center;
	}


	.footer {
		width: 1440px;
	}

	.footer-left {
		width: 40%;
		margin: 5rem 0;
	}

	.footer-right {
		width: 60%;
		font-size: 3.75rem;
		line-height: 3.75rem;
	}
}
